@import url('https://fonts.googleapis.com/css?family=Nunito:200,600,700');

/* <Base> */
* {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
}

html {
    height: 100%;
}
body, html {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: -webkit-linear-gradient(#9B23EA, #5F72BD); /* Safari 5.1 to 6.0 */
    background-image: -o-linear-gradient(#9B23EA, #5F72BD); /* Opera 11.1 to 12.0 */
    background-image: -moz-linear-gradient(#9B23EA, #5F72BD); /* Firefox 3.6 to 15 */
    background-image: linear-gradient(#9B23EA, #5F72BD); /* Standard syntax */
}

.button {
    transition: all .2s ease;
}
/* </Base> */

/* <Header> */
#navigation {
    padding: 15px 25px 0;
    background-color: transparent;
}

#brand-link {
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
}

#brand-link:hover {
    background-color: transparent;
    color: white;
}

#new-submit-button {
    width: 120px;
}

.navbar-button {
    color: white;

    background-color: transparent;
    border-color: white;
    border-radius: 7px;
    border-width: 2px;
}

.navbar-button:hover {
    background-color: white;
    color: #9B23EA;
}

.navbar-burger {
    color: white;
}

.navbar-burger:hover {
    background-color: transparent;
}

#navbar-buttons {
    background-color: transparent;
    border: none;
    box-shadow: none;
}
/* </Header> */